<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAvhDD1FOY69XOL800M3AqC5hIuDaVbQhM</string>
	<key>GCM_SENDER_ID</key>
	<string>255097138524</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.transprogresochoco.appTransprogresochoco</string>
	<key>PROJECT_ID</key>
	<string>appventadetiquetes</string>
	<key>STORAGE_BUCKET</key>
	<string>appventadetiquetes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:255097138524:ios:59c12c198c23fdadd8e599</string>
</dict>
</plist>